:root {
    --words-length: 0s;
}
.left-group:hover svg {
    animation: moveRightLeft 1.5s alternate infinite;
}

@keyframes moveRightLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes word {
    0% {
        transform: translateY(100%);
    }
    40%,
    100% {
        transform: translateY(-100%);
    }
}

.animate-word {
    animation: word var(--words-length) infinite;
}